body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body,
html {
  font-family: 'Inter';
}

body,
html,
#root {
  height: 100%;
}

.vh-100 {
  height: 100vh;
}

.flex-fixed-size {
  flex: 0 0 auto;
}

.flex-expanding-size {
  flex: 1;
}
